.center {
    left:0;
    top:0;
    background:url(../images/comingsoon.jpeg);
    height:767;width:1365;
}
.overlay{
  background-color:rgba(0, 0, 0, 0.75);
  text-align:center;
  width:100%;height:100%;
  opacity:0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.center:hover .overlay {
    opacity:1;
}
